<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Credit</title>
  </head>
  <body>
    <form action="/credit" method="post">
      <h4>
        Your username : {{ .name }}
      </h4>
      Dest username : <input type="text" name="theirs" value=""><br>
      <input type="submit" name="click here">
    </form>
    <form action="/logout" method="post">
      <input type="submit" name="Logout" value="Logout">
    </form>
  </body>
</html>
