<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>
      Hey {{ .name }}
    </h1>
    <p>
      Transfer to:
    </p>
    <form>
      <input type="text" name="name" placeholder="account holder name">
      <input type="number" name="amout" placeholder="amount">
      <input type="submit" name="submit">
    </form>
  </body>
</html>
